* {
  outline: 1px solid red;
}

html, body, #app {
  width: 100%;
  height: 100%;
  font-family: 'Genjyuu';
  margin: 0;
  padding: 0;
  box-sizing: box;
  @apply bg-secondary-default;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

@font-face {
  font-family: 'Genjyuu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/genjyuugothicx/GenJyuuGothicX-Normal.ttf") format("truetype");
}

@font-face {
  font-family: 'Genjyuu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/genjyuugothicx/GenJyuuGothicX-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Genjyuu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/genjyuugothicx/GenJyuuGothicX-Bold.ttf") format("truetype");
}

@media (min-width: 375px) {
  html, body {
    font-size: 16px;
    font-weight: 500;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  .highlight {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (min-width: 1440px) {
  html, body {
    font-size: 18px;
    font-weight: 700;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 44px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 24px;
  }

  .highlight {
    font-size: 24px;
    font-weight: 700;
  }
}